body {
    max-width: 850px;
    margin: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color :#4fadca;
  }
  
.main_content{
    background-color :  #4fadca;
    padding-left: 10px;
    padding-bottom: 15px;
    color: azure;
}
h1{
    color: rgb(177, 241, 241);
}
  
.header_menu {
    margin-top: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color :  #4fadca;
    height: 35px;
    width: 100%;
}
 
.authors{
    padding-top: 20px;
    font-weight: bold;
}
  
.link_menu{
    color: azure;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}
  
.link_menu:hover {
    color :darkgoldenrod;
}
  
.link_menu:visited:hover{
    color :darkgoldenrod;
}
  
.link_menu:visited {
    color: azure;
    text-decoration: none;
    font-weight: bold;
}
  
.git{
    color: rgb(6, 31, 31);
    text-decoration: none;
    font-weight: bold;
}  
.button {
    margin-top: 20px;
      box-shadow:inset 0px 1px 0px 0px #f7c5c0;
      background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
      background-color:#fc8d83;
      border-radius:6px;
      border:1px solid #d83526;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #b23e35;
}