{% extends "base.html" %}

{% block content %}

    <h1>Authors</h1>
    <div class=div_authors>
        <ul class="authors">
            <li class="details">Melvin :<a class="git" href="https://github.com/Melvin-Leroy">lien GitHub</a> </li>

            <li class="details">Lise :<a class="git" href="https://github.com/lise-amen">lien GitHub</a> </li>

            <li class="details">Frédéric :<a class="git" href="Frédéric https://github.com/becodefred">lien GitHub</a> </li>

            <li class="details">Jonathan :<a  class="git" href="https://github.com/JonathanDecleire">lien GitHub</a> </li>

            <li class="details">Axelle :<a  class="git" href="https://github.com/GodIsADJ">lien GitHub</a> </li>
        </ul>
    </div>
{% endblock %}