<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Ny-Nav</title>
        {% endif %}
    </head>
    <body>
        <div class ="header_menu">
            <p id = "menu">
            <a class="link_menu" href="{{ url_for('upload') }}">/Upload</a>
            
            </p>
        </div>
    <div class="main_content">
    {% block content %}{% endblock %}
    </div>
    <div class="footer">
        <!--<img id="img_ny"src="../static/img/NYC-Central-Park.jpg" alt="NewYork">-->
    </div>
    </body>
</html>