<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/main.css') }}">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Mole detector</title>
        {% endif %}
    </head>
    <body>
        <div class ="header_menu">
            <p id = "menu">
            <a class="link_menu" href="{{ url_for('upload_file') }}">/Upload</a>
            
            </p>
        </div>
    <div class="main_content">
    {% block content %}{% endblock %}
    </div>
    <div class="footer">
        <div class="footerContainer">
          <div class="imginthefooter"></div>
        </div>
      </div>
    </body>
</html>